# Vector database
vector_db/

# Generated documentation data
data/raw_docs/
data/processed_docs/

# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/

# Environment variables
.env

# AWS credentials
*.csv
*.numbers
credentials
.aws/

# Mac files
.DS_Store